In [65]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

final=pd.DataFrame()
dfs=[]
TEST_RUN=5 #for full run, TEST_RUN=500
for j in range (1,TEST_RUN+1):
    url='https://www.ambitionbox.com/list-of-companies?campaign=homepage_explore_companies_widget&page={}'.format(j)
    headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'} 
    webpage=requests.get(url,headers=headers).text
    
    soup=BeautifulSoup(webpage,'lxml')
    company=soup.find_all(class_='companyCardWrapper__primaryInformation')
    name=[]
    rating=[]
    rating_count=[]
    about=[]
    values=[]
    for i in company:
        name.append(i.find('h2').text.strip())
        rating.append(i.find(class_='rating_text rating_text--md').text.strip())
        rating_count.append(i.find(class_='companyCardWrapper__companyRatingCount').text.strip().strip("()"))
        about.append(i.find(class_='companyCardWrapper__interLinking').text.strip())
        values.append(i.find(class_='companyCardWrapper__ratingValues').text.strip()
                     if i.find(class_='companyCardWrapper__ratingValues') else " ")
    d={'Name': name, 'Rating': rating, 'Rating Count': rating_count, 'About': about, 'Values':values}
    df=pd.DataFrame(d)
    dfs.append(df)
final = pd.concat(dfs, ignore_index=True)
final

,Name,Rating,Rating Count,About,Values
0,TCS,3.4,1.1L,IT Services & Consulting | Bangalore / Bengalu...,Job Security
1,Accenture,3.7,70.3k,IT Services & Consulting | Bangalore / Bengalu...,"Promotions / Appraisal, Salary & Benefits, Wor..."
2,Wipro,3.6,62.5k,IT Services & Consulting | Hyderabad / Secunde...,"Promotions / Appraisal, Salary & Benefits, Wor..."
3,Cognizant,3.7,59.5k,IT Services & Consulting | Hyderabad / Secunde...,"Promotions / Appraisal, Salary & Benefits, Wor..."
4,Capgemini,3.7,51k,IT Services & Consulting | Bangalore / Bengalu...,"Work Life Balance, Job Security"
...,...,...,...,...,...
775,iMerit,3.2,1.3k,IT Services & Consulting | Kolkata +20 other l...,"Promotions / Appraisal, Salary & Benefits, Ski..."
776,Collabera Technologies,3.4,1.3k,IT Services & Consulting | Bangalore / Bengalu...,"Promotions / Appraisal, Job Security, Salary &..."
777,Chandigarh University,4.0,1.3k,Education & Training | Chandigarh +49 other lo...,"Work Life Balance, Job Security, Skill Develop..."
778,Cinépolis,3.8,1.3k,Media & Entertainment | New Delhi +60 other lo...,"Company Culture, Job Security"
779,Novo Nordisk,3.6,1.3k,Pharma | Bangalore / Bengaluru +74 other locat...,Work Life Balance